@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500");
@font-face {
  font-family: 'adamnormal';
  src: url("../../font/adam-webfont.woff2") format("woff2"), url("../../font/adam-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bellotaregular';
  src: url("../../bellota-regular-webfont.woff2") format("woff2"), url("../../bellota-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bellotalight';
  src: url("../../bellota-light-webfont.woff2") format("woff2"), url("../../bellota-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  position: relative;
  line-height: 1.5;
  background-color: #fff;
}

@media only screen and (max-width: 500px) {
  .mobile-landing {
    display: none;
  }
}

.main {
  background-color: #1d1d21;
  padding: none;
}
@media only screen and (max-width: 500px) {
  .main {
    height: 50px;
  }
}
.main__home-landing {
  height: 200px;
  padding: 10px 0;
  margin: auto;
}
@media only screen and (max-width: 500px) {
  .main__home-landing {
    height: 150px;
    padding: 0;
  }
}
.main__home-landing__logo {
  padding-top: 1.5em;
  display: block;
  margin: 0 auto;
  width: 320px;
}
@media only screen and (max-width: 500px) {
  .main__home-landing__logo {
    display: none;
  }
}

.project-hero {
  background: url(../../images/amongstrangers.jpg) no-repeat 50% 45%;
  background-size: cover;
  width: 100%;
  height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-hero .color-box {
  position: absolute;
  width: 100%;
  height: 500px;
  background-color: #1d1d21;
  opacity: 0.6;
}
.project-hero img {
  position: absolute;
  width: 400px;
  max-width: 100%;
}
@media only screen and (max-width: 990px) {
  .project-hero img {
    width: 300px;
  }
}

.project-content {
  background-color: #1d1d21;
  color: #daae9c;
  width: 100%;
  font-weight: 200;
}

section {
  border-bottom: 1px solid #1d1d21;
  padding-top: 30px;
}

.intro, .brand-img, .inspo, .target, .logo-lockups {
  width: 100%;
  margin: 0 auto;
  padding: 70px;
  text-align: center;
  position: relative;
  height: auto;
  margin-top: 50px;
}

.intro .pad-box {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}
.intro .pad-box h2 {
  font-family: "bellotaregular", sans-serif;
  padding-bottom: 5px;
  margin: 0 auto 20px auto;
}
.intro .pad-box p {
  font-family: "Work Sans", sans-serif;
}
.intro .pad-box img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 100px;
}

.brand-img1 {
  height: 500px;
  background: url(../../images/bg-img.jpg) no-repeat center;
  background-size: cover;
  opacity: 0.6;
}

.target {
  height: 650px;
}
@media only screen and (max-width: 1140px) {
  .target {
    height: 1100px;
  }
}
@media only screen and (max-width: 950px) {
  .target {
    padding: 25px;
  }
}
.target .pad-box {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.target .pad-box h2 {
  font-family: "bellotaregular", sans-serif;
  padding-bottom: 5px;
  margin: 0 auto 20px auto;
}
.target .pad-box h4 {
  font-family: "Work Sans", sans-serif;
  padding-bottom: 10px;
}
.target .pad-box p {
  font-family: "Work Sans", sans-serif;
  padding-bottom: 10px;
}
.target .pad-box p span {
  font-weight: bolder;
}
.target .pad-box .img-wrapper {
  width: 50%;
  position: relative;
  padding: 0 30px;
  float: left;
  text-align: right;
}
@media only screen and (max-width: 1140px) {
  .target .pad-box .img-wrapper {
    width: 100%;
    height: auto;
    float: none;
    text-align: center;
  }
}
.target .pad-box .img-wrapper a {
  color: #1d1d21 !important;
}
.target .pad-box .img-wrapper a:focus, .target .pad-box .img-wrapper a:hover {
  color: transparent !important;
  text-decoration: none !important;
}
.target .pad-box .img-wrapper a img {
  padding: 5px;
  height: 330px;
  border: 3px #E8CFC5 solid;
  background-color: #E8CFC5;
}
@media only screen and (max-width: 1140px) {
  .target .pad-box .img-wrapper a img {
    max-width: 100%;
    width: 500px;
  }
}
.target .pad-box .img-wrapper p {
  padding-top: 20px;
}
.target .pad-box .text-wrapper {
  width: 500px;
  margin: 0 auto;
  float: left;
  text-align: left;
  padding: 0 20px;
}
@media only screen and (max-width: 1140px) {
  .target .pad-box .text-wrapper {
    width: 100%;
    float: none;
    text-align: center;
    padding: 20px;
  }
}

.inspo {
  height: 500px;
  background: url(../../images/bg-kay.jpg) no-repeat 50% 20%;
  background-size: cover;
  opacity: 0.7;
  margin: 0;
  padding: 0;
}
.inspo .color-box {
  background-color: #1d1d21;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  width: 100%;
}
.inspo .pad-box {
  margin: 7% auto;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  font-family: "bellotaregular", sans-serif;
  color: #E8CFC5;
  padding: 60px;
  position: absolute;
}

.logo-lockups .pad-box {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.logo-lockups .pad-box h2 {
  font-family: "bellotaregular", sans-serif;
  padding-bottom: 5px;
  margin: 0 auto 20px auto;
}
.logo-lockups .pad-box p {
  margin-bottom: 20px;
  font-style: italic;
}
.logo-lockups .pad-box .img-wrapper {
  width: 100%;
  padding: 30px 30px 60px 30px;
}
.logo-lockups .pad-box .img-wrapper a img {
  width: 250px;
  margin: 20px;
}
@media only screen and (max-width: 1140px) {
  .logo-lockups .pad-box .img-wrapper a img {
    max-width: 100%;
    width: 250px;
    display: block;
    margin: 40px auto;
  }
}

.type-color {
  text-align: center;
}
.type-color .pad-box {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.type-color .pad-box h2 {
  font-family: "bellotaregular", sans-serif;
  padding-bottom: 5px;
  margin: 0 auto 20px auto;
}
.type-color .pad-box p {
  margin-bottom: 20px;
  font-style: italic;
}
.type-color .pad-box .img-wrapper {
  width: 100%;
  padding: 30px 30px 60px 30px;
}
.type-color .pad-box .img-wrapper a img {
  width: 700px;
  max-width: 100%;
  margin: 20px auto 40px auto;
}

.mobile-screens {
  height: 700px;
  background: url(../../images/mobile-screens.jpg) no-repeat 50% 50%;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.mobile-screens .color-box {
  background-color: #1d1d21;
  height: 100%;
  opacity: 0.3;
  position: absolute;
  width: 100%;
}

.mockups {
  height: 700px;
  background: url(../../images/mobile-screens.jpg) no-repeat 50% 50%;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.mockups .color-box {
  background-color: #1d1d21;
  height: 100%;
  opacity: 0.3;
  position: absolute;
  width: 100%;
}

.application {
  min-height: 300px;
  font-family: "bellotaregular", sans-serif;
  padding: 50px 0;
  background-color: #ed9f80;
  color: #1d1d21;
  text-align: center;
}
.application h1 {
  margin-bottom: 60px;
  font-size: 4em;
}
.application a {
  padding-top: 40px;
  color: #3e3e46;
  font-size: 2em;
  font-family: "Work Sans", sans-serif;
  border-bottom: 2px solid #3e3e46;
  padding-bottom: 5px;
}
.application a:hover {
  color: #f4b9a6;
  text-decoration: none;
  border-bottom: 2px solid #f4b9a6;
}
